@model IEnumerable<StartspelerMVC.Models.Evenement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kostprijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_Deelnemers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Einddatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kostprijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_Deelnemers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Einddatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EvenementID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EvenementID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EvenementID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
