<h3 class="text-white" style="background-color:#0088cc;padding:5px;">Alle Gebruikers</h3>
<a asp-action="Create" class="btn btn-primary mb-4">Voeg een gebruiker toe</a>

<table class="table table-sm table-bordered table-bordered">
    <tr><th>Alias</th><th>Naam</th><th>Email</th><th>Drankkaarten</th><th>Geboortedatum</th></tr>
    @foreach (var user in Model)
    {
<tr>
    <td class="badge-light">@user.UserName</td>
    <td>@user.Voornaam @user.Achternaam</td>
    <td>@user.Email</td>
    <td>
        <ul>

            @{ bool betaald = false;

                @foreach (var kaart in user.Drankkaarten)
                {
                    betaald = kaart.Status == "Betaald" ? true : false;
                    if (@kaart.DrankkaartType != null)
                    {
                        if (kaart.Aantal_beschikbaar != 0)
                        {
                            if (betaald == true)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Drankkaart" asp-action="Edit" asp-route-id="@kaart.DrankkaartID">
                                        @kaart.Aantal_beschikbaar / @kaart.DrankkaartType.Grootte
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item-danger">
                                    <a asp-area="" asp-controller="Drankkaart" asp-action="Edit" asp-route-id="@kaart.DrankkaartID">
                                        @kaart.Aantal_beschikbaar / @kaart.DrankkaartType.Grootte
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            if (betaald == false)
                            {
                            <li class="list-group-item-danger">
                                <a asp-area="" asp-controller="Drankkaart" asp-action="Edit" asp-route-id="@kaart.DrankkaartID">
                                    @kaart.Aantal_beschikbaar / @kaart.DrankkaartType.Grootte
                                </a>
                            </li>
                            }
                        }
                    }
                    else
                    {
                        if (betaald == false)
                        {
                        <li class="list-group-item-danger">
                            <a asp-area="" asp-controller="Drankkaart" asp-action="Edit" asp-route-id="@kaart.DrankkaartID">
                                @kaart.Aantal_beschikbaar ...
                            </a>
                        </li>
                            }
                        }
                    }
                
                }
        </ul>
    </td>
    <td>@user.Geboortedatum.ToShortDateString()</td>
    <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Wijzig</a></td>
    <td>
        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
            <button type="submit" class="btn btn-sm btn-danger">
                Verwijder
            </button>
        </form>
    </td>
</tr>
    }
</table>