@model IEnumerable<StartspelerMVC.Models.DrankkaartType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_layout.cshtml";

}

<h1>Overzicht beschikbare drankkaarttypes</h1>

<p>
    <a asp-action="Create">Nieuw type drankkaart aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grootte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grootte)
            </td>
            <td>
                <!--
                <a asp-action="Edit" asp-route-id="@item.DrankkaartTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrankkaartTypeID">Details</a> |
                -->
                <a asp-action="Delete" asp-route-id="@item.DrankkaartTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
