@model StartspelerMVC.Viewmodels.OverzichtProductViewModel

@{
    ViewData["Title"] = "Drankoverzicht";
}

<h1>Drankoverzicht</h1>

<div class="row top-buffer">

    <div class="col-8">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>
                        Categorie
                    </th>
                    <th class="col-md-6">
                        Product
                    </th>
                    <th class="text-center">
                        Aantal Consumpties
                    </th>
                    <th>
                        <p class="text-center">Aantal</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int count = 0;}
                @foreach (var item in Model.Producten)
                {
                    count++;
                    <tr>
                        <td>
                            <text class="px-2">@Html.DisplayFor(modelItem => item.Categorie.Naam)</text>
                        </td>
                        <td>
                            <text class="px-2">@Html.DisplayFor(modelItem => item.Naam)</text>
                        </td>
                        <td class="text-center">
                            <text class="px-2">@Html.DisplayFor(modelItem => item.Prijs)</text>
                        </td>
                        <td>

                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="amountDown(@count)"> - </button>
                                    </td>
                                    <td>
                                        <input type="text" name="txtAantal" id="@count" style="min-width:50px" class="text-center form-control" value="0" onkeypress="return isNumberKey(event)">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="amountUp(@count)"> + </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <h5>Categorie</h5>
        <form asp-controller="Product" asp-action="Search" method="get">
            <!--Geprobeerd om met drukknoppen te werken, maar dan werkt het niet.-->

            <input type="radio" value="Alles" name="categorie" onclick="categorieselectie()" />
            <label>Toon alles</label>
            <br />

            @foreach (var item in Model.Categories)
            {
                <input type="radio" value="@Html.DisplayFor(modelItem => item.Naam)" name="categorie" onclick="categorieselectie()" />
                <label>@Html.DisplayFor(modelItem => item.Naam)</label>
                <br />
            }

            <p>
                <input asp-for="CategorieSearch" id="toon" type="text" hidden />
                <input type="submit" value="Zoeken" class"btn btn-default" />
            </p>
        </form>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-10">
        <button type="button" class="btn btn-primary float-right">Plaats bestelling</button>
    </div>
</div>