@model IEnumerable<Product>
@{
    ViewData["Title"] = "Stockbeheer";
}

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ijskast)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.OverigeStock)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left align-middle">
                    <div class="align-content-md-center">
                        @Html.DisplayFor(modelItem => item.Naam)
                    </div>
                </td>
                <td class="text-center justify-content-md-center">
                    <table class="table-borderless table-responsive" style="margin:auto; width:50%">
                        <tr>

                            <td class="text-center align-middle">
                                <div class="@((item.Ijskast <= 10) ? "text-danger" :"")">
                                    @Html.DisplayFor(modelItem => item.Ijskast)
                                </div>
                            </td>

                            <td>

                                <button type="button" class="btn btn-primary"> + </button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="text-center">

                    <table class="table-borderless table-responsive" style="margin:auto; width:50%">
                        <tr>

                            <td class="text-center align-middle">
                                <div class="@((item.OverigeStock <= 10) ? "text-danger" :"")">
                                    @Html.DisplayFor(modelItem => item.OverigeStock)
                                </div>
                            </td>

                            <td>

                                <button type="button" class="btn btn-primary"> + </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>
</div>