@model IEnumerable<Product>
@{
    ViewData["Title"] = "Stockbeheer";
    int teller = 0;
}

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ijskast)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.OverigeStock)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    <div>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </div>
                </td>
                <td class="text-center">
                    <div class="@((item.Ijskast <= 10) ? "text-danger" :"")">
                        @Html.DisplayFor(modelItem => item.Ijskast)
                    </div>
                </td>
                <td class="text-center">
                    <div class=" @((item.OverigeStock <= 10) ? "text-danger" :"") ">
                        @Html.DisplayFor(modelItem => item.OverigeStock)
                    </div>
                </td>
            </tr>
            teller++;
        }
    </table>
</div>