@model StartspelerMVC.Models.Drankkaart

@{
    ViewData["Title"] = "Delete";
}

<h3>Ben je zeker deze drankkaart te verwijderen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Voornaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Voornaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Achternaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Achternaam)
        </dd>



    </dl>
    <hr />
    <h5>Details:</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aankoopdatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aankoopdatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aantal_beschikbaar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aantal_beschikbaar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrankkaartType.Grootte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrankkaartType.Grootte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DrankkaartID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Overzicht">Terug</a>
    </form>
</div>
